@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<center>  <h1> Information Page </h1></center>
<center>
<table class="table">
    @using (Html.BeginForm("Insertdo", "Home", FormMethod.Post))

    {
        <tr>
            <td>
                To add the Doctor click here to Continue <input type="submit" value="DoctorAdd" />
            </td>
        </tr>
    }
</table></center>
<br/><br/>
<center>
<table class="table">
    @using (Html.BeginForm("Insertpat", "Home", FormMethod.Post))

    {
        <tr>
            <td>
                To add the Patient click here to Continue <input type="submit" value="PatientAdd" />
            </td>
        </tr>
    }
</table>
    </center>
<br/><br/>
<center>
<table class="table">
    @using (Html.BeginForm("Scheduleapp", "Home", FormMethod.Post))

    {
        <tr>
            <td>
                To schedule appointment click here to Continue <input type="submit" value="Scheduleapp"  />
            </td>
        </tr>
    }
</table>
    </center>
<br/><br/>
<center>
<table class="table">
    @using (Html.BeginForm("Deleteapp", "Home", FormMethod.Post))

    {
        <tr>
            <td>
                To Delete appointment click here to Continue <input type="submit" value="Deleteapp"  />
            </td>
        </tr>
    }
</table>
    </center>
<br/><br/>
     <center>
         <table class="table">
             @using (Html.BeginForm("Index", "Home", FormMethod.Post))

             {
                 <tr>
                     <td>
                        <input type="submit" value="Logout" />
                     </td>
                 </tr>
             }
         </table>
     </center>

